<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink='/frontPage' routerLinkActive="active">Home</a></li>
            <li class="breadcrumb-item"><a routerLink='/yourActivities' routerLinkActive="active">Your Activity</a></li>
            <li class="breadcrumb-item active" aria-current="page">Assignment Management</li>
        </ol>
    </nav>
</div>
<main class="container">
    <h1>Assignment management</h1>
    <hr>
    <app-new-assignment></app-new-assignment> 
    <hr>
    <h2>My Assignment</h2>
    <span style="color: red">Note:</span> show all assignment created by this Marketing Coordinator
    <div class="table-responsive-md">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Issues no.</th>
                    <!-- <th>Assignment ID</th> -->
                    <th>Assignment Name</th>
                    <th>Creator</th>
                    <th>Start date</th>
                    <th>End date</th>
                    <th>Total Submissions</th>
                    <th>Evaluated?</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor ="let l of assignmentList">
                    <td>{{l.assignment.deadline.deadlineId}}</td>
                    <!-- <td>{{l.assignment.assignmentId}}</td> -->
                    <td>{{l.assignment.assignmentName}}</td>
                    <td>{{l.assignment.create_by}}</td>
                    <td>{{l.assignment.deadline.startDate | date: 'dd-MM-YYYY'}}</td>
                    <td>{{l.assignment.deadline.endDate | date: 'dd-MM-YYYY'}}</td>
                    <td>{{l.totalSub}}</td>
                    <td style="color: red">{{l.selectedSub}}/{{l.totalSub}}</td>
                    <td>
                        <button type="button" class="btn btn-primary">View Submissions</button>-
                        <button type="button" class="btn btn-primary" (click)="getAssignmentDetails(l)">Edit</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</main>