<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink='/frontPage' routerLinkActive="active">Home</a></li>
            <li class="breadcrumb-item"><a routerLink='/yourActivities' routerLinkActive="active">Your Activity</a></li>
            <li class="breadcrumb-item active" aria-current="page">My Submissions</li>
        </ol>
    </nav>
</div>
<main class="container">
    <h1>Submission Portal</h1>
    <hr>
    <h2><i class="fas fa-circle"></i> Currently Opening</h2>
    <!-- <h6 class="title">Current Activities</h6> -->
    <div class="row-cols-1" style="min-height: 25vh;">
        <div *ngIf="!availableAssignment" class="d-flex justify-content-center align-self-center" style="padding-top: 8%;">
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
        <div class="col" style="margin-top: 5px;" *ngFor="let a of availableAssignment">
            <div class="card card-news">
                <div class="card-body inline-block">
                    <a (click)="this.asmDetails.setAssignment(a.assignment)"
                        [routerLink]="['mySubmission', a.assignment.assignmentId]" value="a.assignment.assignmentId"
                        class="stretched-link">
                        [{{a.assignment.deadline.startDate |
                        date: 'dd-MM-YYYY'}} → {{a.assignment.deadline.endDate | date: 'dd-MM-YYYY'}}]
                        {{a.assignment.assignmentName}}
                        <i class="bi bi-arrow-right" style="align-self: flex-end;"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- loop some card here -->
    <hr>
    <h2><i class="fas fa-folder"></i> My Submissions</h2>
    <div class="table-responsive-md">
        <table class="table table-striped">
            <thead>
                <tr>
                    <!-- <th>Issues no.</th> -->
                    <th>Event Id</th>
                    <th>Submission Id</th>
                    <th>Title</th>
                    <th>Submitted On</th>
                    <th>Deadline</th>
                    <th>Final Closure</th>
                    <th>Comments</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody *ngIf='mySubmittedAssignment?.length >0'>
                <tr *ngFor='let m of mySubmittedAssignment | paginate: { itemsPerPage: 10, currentPage: subHomePage }'>
                    <td>{{m.assignmentId}}</td>
                    <td>{{m.submissionId}}</td>
                    <!-- <td>{{m.assignmentName}}</td> -->
                    <!-- <td>{{m.deadline.startDate}}</td> -->
                    <!-- <td>{{m.deadline.endDate}}}</td> -->
                    <td *ngIf="findAsmDetails(m.assignmentId)">{{findAsmDetails(m.assignmentId).assignment.assignmentName}}</td>
                    <td style="color: red" *ngIf="!findAsmDetails(m.assignmentId)">No data</td>
                    <td>{{m.submissionDate | date: 'dd-MM-YYYY'}}</td>
                    <td >{{findAsmDetails(m.assignmentId).assignment.deadline.endDate | date: 'dd-MM-YYYY'}}</td>
                    <td><b>{{this.asmDetails.addDate(findAsmDetails(m.assignmentId).assignment.deadline.endDate, 14) | date: 'dd-MM-YYYY'}}</b></td>
                    <td>{{m.totalComment}}</td>
                    <td>{{this.asmDetails.statusDecoder(m.status)}}</td>
                    <!-- <td>{{m.submissionId}}</td> -->
                    <td>
                        <button type="button" class="btn btn-primary" (click)="findAssignment(m.assignmentId);">
                            View Submission
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="!mySubmittedAssignment" class="d-flex justify-content-center align-self-center" style="padding-top: 8%;">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <p class="text-muted py-5" *ngIf="mySubmittedAssignment?.length ==0" style="text-align: center;">You have not
        submitted anything.</p>
    <pagination-controls (pageChange)="subHomePage = $event"></pagination-controls>
</main>
