<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink='/frontPage' routerLinkActive="active">Home</a></li>
            <li class="breadcrumb-item"><a routerLink='/yourActivities' routerLinkActive="active">Your Activity</a></li>
            <li class="breadcrumb-item active" aria-current="page">Submissions Management</li>
        </ol>
    </nav>
</div>
<main class="container">
    
    <h2>All Events
        <button (click)="syncAssignments()" class="btn btn-primary btn-sm" ><i class="fas fa-sync-alt"></i> Sync</button>
    </h2>
    <!-- <span class="text-muted" *ngIf="userInfo">All assignments created by "{{userInfo.userName}}"</span> -->
    <div class="table-responsive-md">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Issues no.</th>
                    <!-- <th>Event ID</th> -->
                    <th>Event Name</th>
                    <th>Creator</th>
                    <th>Start date</th>
                    <th>End date</th>
                    <th>Final closure date</th>
                    <th>Total Submissions</th>
                    <th>Accepted Submissions</th>
                    <th>Submissions</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor ="let l of assignmentList | paginate: { itemsPerPage: 10, currentPage: p }">
                    <td>{{l.assignment.deadline.deadlineId}}</td>
                    <!-- <td>{{l.assignment.assignmentId}}</td> -->
                    <td>{{l.assignment.assignmentName}}</td>
                    <td>{{l.assignment.create_by}}</td>
                    <td>{{l.assignment.deadline.startDate | date: 'dd-MM-YYYY'}}</td>
                    <td>{{l.assignment.deadline.endDate | date: 'dd-MM-YYYY'}}</td>
                    <td><b>{{this.assignmentService.addDate(l.assignment.deadline.endDate, 14) | date: 'dd-MM-YYYY'}}</b></td>
                    <td>{{l.totalSub}}</td>
                    <td style="color: red">{{l.selectedSub}}/{{l.totalSub}}</td>
                    <td class="align-middle">
                        <button type="button" class="btn btn-primary" [routerLink]="['submissionEvaluation',l.assignment.assignmentId]">View Submissions</button>
                    </td>
                    <td class="align-middle">
                        <!-- <button type="button" class="btn btn-primary mx-2" (click)="getAssignmentDetails(l)">Edit</button> -->
                      <button type="button" class="btn btn-primary mx-2" (click)="eleDownload.click()">Download selected</button>
                      <a [href]="urlDownloadSelected + l.assignment.assignmentId" style="display: none" #eleDownload></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="!assignmentList">
        <div class="d-flex justify-content-center align-self-center" style="padding-top: 8%;">
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>
    <div class="text-muted py-5" style="text-align: center;" *ngIf="assignmentList && assignmentList.length ==0">
        You have not created any assignment yet.
    </div>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</main>
