<div class="container">
    <!-- Header -->
    <app-header [userData] = "val.data"></app-header>
    <!-- ./Header -->
    <!-- {{val.data.userName}} -->
</div>
<router-outlet></router-outlet>
<app-footer></app-footer>
<app-selected-submission-browser></app-selected-submission-browser>
<app-management-dashboard></app-management-dashboard>
<app-new-submission></app-new-submission>
 <!-- <app-user-management></app-user-management> -->
<!--<app-new-assignment></app-new-assignment>
<app-account-settings></app-account-settings> -->