<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink='/frontPage' routerLinkActive="active">Home</a></li>
      <li class="breadcrumb-item"><a routerLink='/yourActivities' routerLinkActive="active">Your Activity</a></li>
      <li class="breadcrumb-item active" aria-current="page">View Dashboard</li>
    </ol>
  </nav>
</div>
<main class="container">
  <h2><i class="fas fa-tachometer-alt"></i> Management Dashboard</h2>
  <hr>
  <h3>General Information</h3>
  <!-- chartJS pie chart -->
  <div style="min-height: 500px">
    <canvas baseChart
            [data]="pieChartData"
            [labels]="pieChartLabels"
            [chartType]="pieChartType"
            [options]="pieChartOptions"
            [plugins]="pieChartPlugins"
            [legend]="pieChartLegend"
            [colors]="pieChartColors">
    </canvas>
  </div>
  <hr>
  <h3>Exceptional Report</h3>
  <h4 class="text-muted">Submissions without a comment after 14 days:</h4>
  <div class="table-responsive-md">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Assignment</th>
        <th scope="col">Faculty</th>
        <th scope="col">Creator</th>
        <th scope="col">Student Username</th>
        <th scope="col">Submission date</th>
        <th scope="col">Days overdue</th>
      </tr>
      </thead>
      <tbody>
      <tr scope="row" *ngFor="let s of this.overDueSub | paginate: { itemsPerPage: 5, currentPage: p }">
        <td>{{s.assignmentName}}</td>
        <td>{{s.facultyName}}</td>
        <td>{{s.create_by}}</td>
        <td>{{s.username}}</td>
        <td>{{s.submissionDate}}</td>
        <td>{{s.daysOverdue}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <hr>
  <h4 class="text-muted">Submissions currently without comment:</h4>
  <div class="table-responsive-md">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Assignment</th>
        <th scope="col">Faculty</th>
        <th scope="col">Student Username</th>
        <th scope="col">Submission date</th>
        <th scope="col">Days since submission</th>
      </tr>
      </thead>
      <tbody>
      <tr scope="row" *ngFor="let n of this.notCommentedYet | paginate: { itemsPerPage: 5, currentPage: p }">
        <td>{{n.assignmentName}}</td>
        <td>{{n.facultyName}}</td>
        <td>{{n.username}}</td>
        <td>{{n.submissionDate}}</td>
        <td>{{n.daysSinceSubs}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</main>
