<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink='/frontPage' routerLinkActive="active">Home</a></li>
      <li class="breadcrumb-item"><a routerLink='/yourActivities' routerLinkActive="active">Your Activity</a></li>
      <li class="breadcrumb-item"><a routerLink='/yourActivities/submissionPortal' routerLinkActive="active">My
        Submissions</a></li>
      <li class="breadcrumb-item active" aria-current="page">Submit Entry</li>
    </ol>
  </nav>
</div>
<main class="container" *ngIf="assignment?.length !=0">
    <h2>{{assignment?.assignmentName}}
        <small class="text-muted">
            [{{assignment?.deadline.startDate | date:'dd-MM-YYYY'}}
            → {{assignment?.deadline.endDate | date: 'dd-MM-YYYY'}}]
        </small>
    </h2>
    <h5>Description:</h5>
    <p *ngIf="assignment?.description">{{assignment.description}}</p>
    <hr>
    <h5>Your Submission</h5>
    <h6>Submitted files <button class="btn btn-primary btn-sm" (click)="getFiles()"><i class="fas fa-sync-alt"></i> Sync</button></h6>
    
    <div>
      <div *ngFor="let file of filesGot || []">
        <span>{{file.fileName}}</span>
        <span><span (click)="fileIdViewed = file.fileId">View</span></span>
      </div>
    </div>
  //TODO: show Iframe or img depends on file type.
  <iframe width="100%" height="500" frameborder="0" *ngIf="fileIdViewed && this.checkFileTypes(fileIdViewed); else ShowImg"
          [src]="transform('https://docs.google.com/gview?url='+url+fileIdViewed+'&embedded=true')">
  </iframe>
  <ng-template #ShowImg>
    <img *ngIf="fileIdViewed" [src]="transform('https://wed-be.herokuapp.com/api/file/read/'+fileIdViewed)">
  </ng-template>
  <!--
      <img *ngIf="fileIdViewed" [src]="transform('https://wed-be.herokuapp.com/api/file/read/'+fileIdViewed)">
  -->
  <p></p>
  <ngx-dropzone (change)="onSelect($event)" [accept]="'image/*,.doc, .docx'">
    <ngx-dropzone-label>Drag and drop images (png/jpeg/etc..) and documents (doc/docx) that you want to upload here
    </ngx-dropzone-label>
    <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
      <ngx-dropzone-label style="width: 140px; overflow-wrap: break-word">{{ f.name }}
        <div class="progress" *ngIf="fileProgress[f.name] > 0">
          <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
               [attr.aria-valuenow]="fileProgress[f.name]" aria-valuemin="0" aria-valuemax="100"
               [ngStyle]="{ width: fileProgress[f.name] + '%' }">
            {{fileProgress[f.name] + '%'}}
          </div>
        </div>
      </ngx-dropzone-label>
    </ngx-dropzone-preview>
  </ngx-dropzone>

  <div class="col-12">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
      <label class="form-check-label" for="invalidCheck">
        Agree to terms and conditions
      </label>
      <div class="invalid-feedback">
        You must agree before submitting.
      </div>
    </div>
    <button type="button" class="btn btn-primary" (click)="submit()"><i class="fas fa-upload"></i> Submit</button><br>

    <hr>
    <h5><i class="fas fa-comments"></i> Feedback</h5>

  <section class="comments row mt-4">
    <div class="col-1 d-none d-lg-block">
      <img class="img-fluid img-thumbnail" src="https://via.placeholder.com/100" alt="">
    </div>
    <div class="col-lg-11 col-sm-12">
      <div class="card">
        <div class="card-header">
          <b>[placeholder]</b> left a comment at [time]
        </div>
        <div class="card-body">
          Yeah...This is some text within a card body.
        </div>
      </div>
    </div>
  </section>
  <br>
  <h6>New Comment</h6>
  <form>
        <textarea rows="5" class="form-control" id="assignment-description" placeholder="Write a comment..."
                  maxlength="850">
        </textarea>
        <div id='commentHelp' class="form-text">Comment must be less than 850 characters and contains no bad words.
        </div>
        <div>
            <button type="button" class="btn btn-primary"><i class="fas fa-edit"></i> Post Comment</button><br>
        </div>
    </form>
</main>
<main class="container vh-100" *ngIf="assignment?.length ==0">
    <div class="my-auto mx-auto" style="text-align: center;">
        <p>Oops, there seems to be an error!</p>
        <p>It's likely that this page was refreshed.</p>
        <p>Please <a routerLink (click)="goBack()">back to the previous page</a></p>
    </div>
</main>
