<main class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink='/frontPage' routerLinkActive="active">Home</a></li>
            <li class="breadcrumb-item"><a routerLink='/yourActivities' routerLinkActive="active">Your Activity</a></li>
            <li class="breadcrumb-item active" aria-current="page">User Management</li>
        </ol>
    </nav>
    <h2>Manage User</h2>
    <form ngNativeValidate action="javascript:void(0)">
        <div class="mb-3">
            <label class="form-label">Username <small style="color: red">*</small></label>
            <input class="form-control" id="username" placeholder="Username" [formControl]="username">
            <div id="usernameHelp" class="form-text">Username must be less than 30 characters long. Username of existing
                users cannot be
                changed</div>
        </div>
        <div class="mb-3">
            <label class="form-label">First Name <small style="color: red">*</small></label>
            <input class="form-control" id="firstName" placeholder="First Name" [formControl]="firstName">
        </div>
        <div class="mb-3">
            <label class="form-label">Last Name <small style="color: red">*</small></label>
            <input class="form-control" id="lastName" placeholder="Last Name" [formControl]="lastName">
        </div>
        <div class="mb-3">
            <label class="form-label">Phone Number <small style="color: red">*</small></label>
            <input class="form-control" id="phoneNumber" placeholder="Phone Number" [formControl]="phoneNumber">
        </div>
        <div class="mb-3">
            <label class="form-label">Email <small style="color: red">*</small></label>
            <input class="form-control" type="email" id="email" placeholder="Email" [email]="true" [formControl]="email">
        </div>
        <div class="mb-3">
            <label class="form-label">Role <small style="color: red">*</small></label>
            <select class="form-select" id="role-select" aria-label="role select">
                <option *ngFor="let r of roleList" id="{{r.roleName}}" value="{{r.roleId}}">{{r.roleId}} - {{r.roleName}}
                </option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Faculty Access</label>
            <select class="form-select" id="faculty-select" aria-label="role select">
                <option value="null">None</option>
                <option *ngFor="let f of facultyList" value="{{f.facultyId}}">{{f.facultyId}} - {{f.facultyName}}
                </option>
            </select>
        </div>
        <div class="mb-3">
            <div id="formHelp" class="form-text">Fields marked with red asterisk <small style="color: red">*</small> are required and cannot be left empty.</div>
        </div>


        <!-- Buttons -->
        <button type="button" class="btn btn-secondary" (click)="clearInput()">Clear</button><small
            style="color:white">-</small>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#confirmAddModal"
            (click)="addNewUserCheck()">Add</button><small style="color:white">-</small>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#updateModal"
            (click)="confirmUpdate()">
            Update
        </button>
        <!-- ./ Buttons -->
    </form>
    <hr>
    <h2>User List</h2>
    <h3>Search</h3>
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="search by username" aria-label="search by username"
            aria-describedby="button-addon2" id="searchUser" [formControl]="searchUser">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="onSearch()">Search</button>
    </div>
    <!-- search result -->
    <div id="searchMessage"></div>
    <div id="searchResult" *ngIf="searchResult.length >0">
        <h3>Search Result</h3>
        <div class="table-responsive-md">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Username</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Phone Number</th>
                        <th scope="col">Email</th>
                        <th scope="col">Role</th>
                        <th scope="col">Faculty Access</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr scope="row" *ngFor="let user of searchResult">
                        <td>{{user.userName}}</td>
                        <td>{{user.firstName}}</td>
                        <td>{{user.lastName}}</td>
                        <td>{{user.phone}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.role.roleName}}</td>
                        <td *ngIf="user.facultyId">
                            {{getFacultyName(user?.facultyId).facultyName}}
                        </td>
                        <td *ngIf="!user.facultyId"></td>
                        <td>
                            <button type="button" class="btn btn-primary" (click)="getSelectedUser(user)">
                                Select</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- main table -->
    <h3>All Users <button type="button" class="btn btn-primary" style="display: inline-block;" (click)="syncResult()"><i class="fas fa-sync-alt"></i> Sync</button></h3>
    <div class="table-responsive-md">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Username</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">Email</th>
                    <th scope="col">Role</th>
                    <th scope="col">Faculty</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr scope="row" *ngFor="let user of userList | paginate: { itemsPerPage: 5, currentPage: p }">
                    <td>{{user.userName}}</td>
                    <td>{{user.firstName}}</td>
                    <td>{{user.lastName}}</td>
                    <td>{{user.phone}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.role.roleName}}</td>
                    <td *ngIf="user.facultyId">{{getFacultyName(user?.facultyId)?.facultyName}}</td>
                    <td *ngIf="!user.facultyId"></td>
                    <td>
                        <button type="button" class="btn btn-primary"
                            (click)="getSelectedUser(user)">Select</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>

    <!-- Update Entry modal -->
    <div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateModalLabel">Update Entry</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="confirmUpdateMessage">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" (click)="updateUser()">Confirm Action</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Add Confirmation modal -->
    <div class="modal fade" id="confirmAddModal" tabindex="-1" aria-labelledby="confirmAddModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmAddModalLabel">Confirm New Entry</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="confirmAddMessage"></div>
                    <div *ngIf="addNewUserCheck() == true" class="mb-3">
                        <label class="form-label">Set up account password?</label>
                        <input autocomplete="off" type="password" class="form-control" id="newPassword"
                            placeholder="Password" [formControl]="password">
                        <div id="passwordHelp" class="form-text">Set New User's password. 
                            Leave blank for random generated password. 
                            This will be sent to the User through the specified email address.
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" *ngIf="addNewUserCheck()==true" (click)="addNewUser()">Confirm
                        Action</button>
                </div>
            </div>
        </div>
    </div>
</main>