<div class="container">
    <app-header></app-header>
</div>
<main class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Your Activity</a></li>
            <li class="breadcrumb-item"><a href="#">Assignment Management</a></li>
            <li class="breadcrumb-item active" aria-current="page">New Assignment</li>
        </ol>
    </nav>
    <h1>New Assignment <small class="text-muted">for Issues #[number here]</small></h1>
    <form>
        <div class="mb-3">
            <label class="form-label">Title</label>
            <input class="form-control" id="assignment-title" placeholder="Assignment Title" maxlength="100">
            <div id="assignmenttHelp" class="form-text">Title must be less than 100 characters long.</div>
        </div>
        <div class="mb-3">
            <label class="form-label">Description</label>
            <textarea rows="5" class="form-control" id="assignment-description"
                placeholder="Short description about what student should write about, words limit...etc."
                maxlength="850"></textarea>
            <div id="descriptionHelp" class="form-text">Description must be less than 850 characters long.</div>
        </div>
        <label class="form-label">Deadline</label>
        <p>TODO: get deadline from database.</p>
        <div>
            <button type="submit" type="button" class="btn btn-primary">Submit</button><small
                style="color:white">-</small>
            <button type="button" class="btn btn-secondary">Cancel</button>
        </div>
    </form>
</main>