<header class="blog-header py-3">
    <div class="navbar navbar-light bg-light row flex justify-content-between align-items-center">
        <div class="d-flex mb-3" *ngIf="userData">
            <div class="me-auto">
                <p *ngIf="userData" class="link-secondary" routerLink="frontPage">
                    {{getFacultyName(userData.facultyId).facultyName}} Department</p>
                <p class="link-secondary" *ngIf="userData.role.roleName == 'ROLE_ADMIN'" routerLink="frontPage">
                    Administrator Privilege
                </p>
                <p class="link-secondary" *ngIf="userData.role.roleName == 'ROLE_MANAGER'" routerLink="frontPage">
                    Marketing Manager
                </p>
            </div>
            <div>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-user"></i>
                        <span class="ms-1 d-none d-lg-inline-block d-inline"
                            style="display: inline">{{userData?.userName}}</span>
                    </button>

                    <ul class="dropdown-menu dropdown-menu-wide dropdown-menu-end" aria-labelledby="dropdownMenuLink">
                        <li>
                            <h6 class="dropdown-header" *ngIf="userData">
                                Welcome, {{userData?.userName}}
                            </h6>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="yourActivities">
                                <i class="fas fa-list-alt text-muted"></i>
                                    Your Activities
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="accountSettings">
                                <i class="fas fa-cog text-muted"></i> Account Settings
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li (click)="onLogOut()">
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-sign-out-alt text-muted"></i>
                                Logout
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="d-flex justify-content-center">
            <div class="col-12 text-center">
                <p class="site-header-logo text-dark" routerLink="frontPage">University of Greenwich</p>
            </div>
        </div>
    </div>

    <div class="navbar navbar-light bg-light row flex-wrap align-items-center nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-center">
            <li class="nav-item">
                <a class="nav-link p-2 link-secondary" routerLink="frontPage"><i class="fas fa-home"></i> Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link p-2 link-secondary" routerLink="yourActivities"><i class="fas fa-list-alt"></i> Your
                    Activities</a>
            </li>
            <li class="nav-item">
                <a class="nav-link p-2 link-secondary" routerLink="accountSettings"><i class="fas fa-cog"></i> Account
                    Settings</a>
            </li>
        </nav>
    </div>
</header>