<main class="container mb-5">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink='/frontPage' routerLinkActive="active">Home</a></li>
            <li class="breadcrumb-item active">Account Settings</li>
        </ol>
    </nav>

    <h2><i class="fas fa-cog"></i> Account Settings</h2><hr>
    <form ngNativeValidate>
        <div class="mb-3">
            <label for="disabledUsername" class="form-label">Username</label>
            <input type="text" id="disabledUsername" class="form-control" placeholder="{{user?.userName}}" disabled/>
        </div>
        <div class="mb-3">
            <label for="firstName" class="form-label">First Name</label>
            <input type="text" class="form-control" id="firstName" placeholder="First Name" value = "{{user?.firstName}}" required/>
        </div>
        <div class="mb-3">
            <label class="form-label">Last Name</label>
            <input  type="text" class="form-control" id="lastName" placeholder="Last Name"
            value="{{user?.lastName}}" required/>
        </div>
        <div class="mb-3">
            <label class="form-label">Phone Number</label>
            <input type="text" class="form-control" id="phoneNumber" placeholder="Phone Number" value ="{{user?.phone}}" required/>
        </div>
        <div class="mb-3">
            <label class="form-label">Email</label>
            <input class="form-control" id="email" placeholder="{{user?.email}}" disabled>
        </div>
        <div class="mb-3">
            <label for="disabledAccountType" class="form-label">Account Type:</label>
            <input type="text" id="disabledAccountType" class="form-control" placeholder="{{user?.role.roleName}}"
                disabled/>
        </div>
        <div class="mb-3">
            <label for="disabledFaculty" class="form-label">Faculty:</label>
            <input type="text" id="disabledFaculty" class="form-control" *ngIf="user?.facultyId" placeholder="{{getFacultyName(user?.facultyId).facultyName}}" disabled/>
            <input type="text" id="disabledFaculty" class="form-control" *ngIf="!user?.facultyId"
                placeholder="No Data" disabled />
        </div>
        <button class="btn btn-primary" type="submit" (click)="updateUserInfo()">Save Changes</button>
    </form>

    <hr>
    <h2><i class="fas fa-lock"></i> Change Password</h2>
    <!-- <div *ngIf="currentPassword.errors.required">Please enter current password</div> -->
    <form ngNativeValidate action="javascript:void(0)">
        <div class="mb-3">
            <label for="currentPassword" class="form-label">Current Password</label>
            <input type="password" id="currentPassword" class="form-control" placeholder="Current Password"
                [formControl]="currentPassword" required>
        </div>
        <div class="mb-3">
            <label for="newPassword" class="form-label">New Password</label>
            <input type="password" id="newPassword" class="form-control" placeholder="New Password" [formControl]="newPassword"
                pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$" required>
                <span id="passwordHelpInline" class="form-text" required>
                    Password must be 8-20 characters, contains at least one Upper case letter, one number and one special character.
                </span>
        </div>
        <div class="mb-3">
            <label for="confirmPassword" class="form-label">
                Confirm Password
            </label>
            <input type="password" id="confirmPassword" class="form-control" placeholder="Confirm Password"
                pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$" [formControl]="confirmPassword" required>
        </div>
        <div id="errorMessage"></div>
        <button class="btn btn-primary" type="submit" (click)="checkPassword()">Save Changes</button>
    </form>
</main>
