<main class="container mb-5">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Account Settings</li>
        </ol>
    </nav>

    <h2>Account Settings</h2>
    <form>
        <div class="mb-3">
            <label for="disabledUsername" class="form-label">Username</label>
            <input type="text" id="disabledUsername" class="form-control" placeholder="{{user.data.userName}}" disabled>
        </div>
        <div class="mb-3">
            <label for="firstName" class="form-label">First Name</label>
            <input class="form-control" id="firstName" placeholder="{{user.data.firstName}}">
        </div>
        <div class="mb-3">
            <label class="form-label">Last Name</label>
            <input class="form-control" id="lastName" placeholder="{{user.data.lastName}}">
        </div>
        <div class="mb-3">
            <label class="form-label">Phone Number</label>
            <input class="form-control" id="phoneNumber" placeholder="{{user.data.phone}}">
        </div>
        <div class="mb-3">
            <label class="form-label">Email</label>
            <input class="form-control" id="email" placeholder="{{user.data.email}}" disabled>
        </div>
        <div class="mb-3">
            <label for="disabledAccountType" class="form-label">Account Type:</label>
            <input type="text" id="disabledAccountType" class="form-control" placeholder="{{user.data.role.roleName}}"
                disabled>
        </div>
        <div class="mb-3">
            <label for="disabledFaculty" class="form-label">Faculty:</label>
            <input type="text" id="disabledFaculty" class="form-control" placeholder="Faculty Name from db" disabled>
        </div>
        <button class="btn btn-primary">Save Changes</button>
    </form>

    <hr>
    <h2>Change Password</h2>
    <!-- <div *ngIf="currentPassword.errors.required">Please enter current password</div> -->
    <form>
        <div class="mb-3">
            <label for="currentPassword" class="form-label">Current Password</label>
            <input type="password" id="currnetPassword" class="form-control" placeholder="Current Password"
                formControlName="currentPassword">
        </div>
        <div class="mb-3">
            <label for="newPassword" class="form-label">New Password</label>
            <input type="password" id="newPassword" class="form-control" placeholder="New Password"
                pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$">
        </div>
        <div class="mb-3">
            <label for="newPassword" id="confirmPassword" class="form-label">
                Confirm Password
            </label>
            <input type="password" id="confirmPassword" class="form-control" placeholder="Confirm Password"
                pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$">
            <span id="passwordHelpInline" class="form-text">
                Must be 8-20 characters long.
            </span>
        </div>
        <button class="btn btn-primary" type="submit">Save Changes</button>
    </form>
</main>