/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
$offWhite : #ECF4FA;
$mainGrey :  #B4B4C0;
$mainBlue : #3454D8;
$mainBlueHover: #2742B3;

.mainBlue {
    color: $mainBlue
}

.mainGrey {
    color: $mainGrey
}

.offWhite{
    color: $offWhite
}
.btn-custom-primary{
  background-color: $mainBlue;
  color: white;
}

.btn-custom-primary:hover{
    background-color: $mainBlueHover;
    color: white;
}

.btn-custom-primary:active ::selection{
    background-color: $mainBlueHover;
    color: white;
}

