<main class="container">
<p>selected-submission-browser works!</p>
<h2>All selected submission <small class="text-muted">from Department of [placeholder]</small></h2>
<h3>View by issues:</h3>
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Enter Issue Number" aria-label="Issue Number"
            aria-describedby="button-addon2">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>
    </div>
<hr>
<h3>File Info</h3>

</main>